LOG_LEVEL=info

# from https://api.slack.com/apps
SLACK_APP_TOKEN=xapp-*** # App-Level Token
SLACK_BOT_TOKEN=xoxb-*** # OAuth Tokens

# from https://platform.openai.com/account/api-keys
OPENAI_API_KEY=sk-***
